.service_main
  .service_main__photo
    = image_tag "flower.jpg", alt:"花の写真"
    .service_main__photo__title
      %span 家財整理・生前整理

    - breadcrumb :cleaning
    = render 'share/breadcrumb'

.service_contents
  .service_contents__title
    %span 家財整理について
  .service_contents__container
    .service_contents__container__photo
      =image_tag "carry.jpg", alt:"荷物を運ぶ人"
    .service_contents__container__textbox
      .service_contents__container__textbox__title
        %span 家の中をスッキリさせたい
      .service_contents__container__textbox__description
        %span
          物がどんどん増えて一度家の中を片付けたい。でも時間がない。重たい物が運べない。整理したいがなかなか行動におこせない。
          %br
          家の中の片付けはとにかく大変なものです。少量の片付けから家一軒まるごとまでお任せください。不要な物がなくなると本当にスッキリします。
          %br
          買取できるものは買取し少しでもお客様のご負担を軽減、リュースやリサイクルできる物を経験豊かなスタッフがしっかり仕分けしてまいります。

  .service_contents__title
    %span ご利用料金
  .service_contents__fee
    .plan__contents__body__reference.inner
      %h3 家財整理の参考価格
      = render 'share/fee/household-goods-fee'
  .service_contents__title
    %span お得なパック料金
  .service_contents__fee
    .plan__contents__body__reference.inner
      = render 'share/fee/pack-fee'
-#   .service_contents__title
-#     %span 参考事例
-# = render 'share/case/case-household-goods'

.service_contents
  .service_contents__title
    %span 生前整理について
  .service_contents__container
    .service_contents__container__photo
      =image_tag "before.jpg", alt:"笑顔の家族"
    .service_contents__container__textbox
      .service_contents__container__textbox__title
        %span 大きな家財も片付けます
      .service_contents__container__textbox__description
        %span
          元気なうちに身のまわりの整理をしておきたい。施設入所することになったので片付け荷作りなど手伝ってほしい。子ども達や親族、ご近所さんには迷惑をかけないようにしたい。
          %br
          そう思うのは親心であり、大切な人たちにできるだけ負担をかけたくないという想いは誰しもが少なからずもっていることでしょう。
          %br
          私達は、そのお気持ちに寄り添いご依頼者様のご納得のいくお手伝いをさせていただきます。

  .service_contents__title
    %span ご利用料金
  .service_contents__fee
    .plan__contents__body__reference.inner
      %h3 生前整理の参考価格
      = render 'share/fee/before-birth-fee'
  .service_contents__title
    %span お得なパック料金
  .service_contents__fee
    .plan__contents__body__reference.inner
      = render 'share/fee/pack-fee'
-#   .service_contents__title
-#     %span 参考事例
-# = render 'share/case/case-before-birth'