.service_main
  .service_main__photo
    = image_tag "cleaning-image2.jpg", alt:"部屋の写真"
    .service_main__photo__title
      %span 家財整理・生前整理

    - breadcrumb :cleaning
    = render 'share/breadcrumb'

.service_contents
  .service_contents__title
    %span 家財整理とは
  .service_contents__container
    .service_contents__container__photo
      =image_tag "cleaning-image1.jpg"
    .service_contents__container__textbox
      .service_contents__container__textbox__title
        %span 家の中をスッキリさせたい
      .service_contents__container__textbox__description
        %p
          物がどんどん増えて一度家の中を片付けたい。
        %p
          でも時間がない。重たい物が運べない。
        %p
          整理したいがなかなか行動におこせない
        %p
          家の中の片付けはとにかく大変なものです。
        %p
          少量の片付けから家一軒まるごとまでお任せください。
        %p
          不要な物がなくなると本当にスッキリします。
        %p
          買取できるものは買取し少しでもお客様のご負担を軽減、
        %p
          リュースやリサイクルできる物を
        %p
          経験豊かなスタッフがしっかり仕分けしてまいります。

      .service_contents__container__textbox__description_resp
        %p
          物がどんどん増えて一度家の中を片付けたい。
        %p
          でも時間がない。重たい物が運べない。
        %p
          整理したいがなかなか行動におこせない
        %p
          家の中の片付けはとにかく大変なものです。
        %p
          少量の片付けから家一軒まるごとまで
        %p
          お任せください。
        %p
          不要な物がなくなると本当にスッキリします。
        %p
          買取できるものは買取し少しでも
        %p
          お客様のご負担を軽減、
        %p
          リュースやリサイクルできる物を
        %p
          経験豊かなスタッフがしっかり
        %p
          仕分けしてまいります。

  .service_contents__title
    %span ご利用料金
  -# .service_contents__fee
  -#   %p.service_contents__fee__inner
  -#     %span 家財整理サービス
  -# .service_contents__price
  -#   %span 1
  -#   %span.small 日
  -#   %span ２０，０００
  -#   %span.small 円
  -#   %span.small（税別）

  .service_contents__title
    %span 参考事例
  .service_contents__casebox
    .service_contents__casebox__inner
      .service_contents__casebox__inner__back
        %span Aさん宅の事例
        .service_contents__casebox__inner__back__before
          = image_tag "cleaning-image1.jpg"
        .service_contents__casebox__inner__back__after
          = image_tag "cleaning-image2.jpg"

.service_contents
  .service_contents__title
    %span 生前整理とは
  .service_contents__container
    .service_contents__container__photo
      =image_tag "cleaning-image1.jpg"
    .service_contents__container__textbox_before-birth
      .service_contents__container__textbox_before-birth__title
        %span 大きな家財も片付けます
      .service_contents__container__textbox_before-birth__description
        %p
          元気なうちに身のまわりの整理をしておきたい。
        %p
          施設入所することになったので片付け荷作りなど手伝ってほしい。
        %p
          子ども達や親族、ご近所さんには迷惑かけないようにしたい。
        %p
          そう思うのは親心であり、大切な人のために行う。
        %p
          とても大切なことであります。
        %p
          私達はそのお気持ちに寄り添いご依頼者様のご納得のいく
        %p
          お手伝いをさせていただきます。

      .service_contents__container__textbox_before-birth__description_resp
        %p
          元気なうちに身のまわりの整理を
        %p
          しておきたい。
        %p
          施設入所することになったので、片付け
        %p
          荷作りなど手伝ってほしい。
        %p
          子ども達や親族、ご近所さんには
        %p
          迷惑かけないようにしたい。
        %p
          そう思うのは親心であり、大切な人の
        %p
          ために行う。
        %p
          とても大切なことであります。
        %p
          私達はそのお気持ちに寄り添い
        %p
          ご依頼者様のご納得のいくお手伝いを
        %p
          させていただきます。

  .service_contents__title
    %span ご利用料金
  -# .service_contents__fee
  -#   %p.service_contents__fee__inner
  -#     %span 家財整理サービス
  -# .service_contents__price
  -#   %span 1
  -#   %span.small 日
  -#   %span ２０，０００
  -#   %span.small 円
  -#   %span.small（税別）

  .service_contents__title
    %span 参考事例
  .service_contents__casebox
    .service_contents__casebox__inner
      .service_contents__casebox__inner__back
        %span Bさん宅の事例
        .service_contents__casebox__inner__back__before
          = image_tag "cleaning-image1.jpg"
        .service_contents__casebox__inner__back__after
          = image_tag "cleaning-image2.jpg"
