-# .confirm-main
-#   .confirm-main__center
-#     = form_for @contact, url:root_thanks_path do |f|
-#       %table.table
-#         %tr
-#           %th 名前
-#           %td
-#             = f.hidden_field :name_full
-#             = @contact.name_full
-#         %tr
-#           %th メールアドレス
-#           %td
-#             = f.hidden_field :email
-#             = @contact.email
-#         %tr
-#           %th 住所
-#           %td
-#             = f.hidden_field :zip1
-#             = @contact.zip1
-#             = f.hidden_field :zip2
-#             = @contact.zip2
-#             = f.hidden_field :address1
-#             = @contact.address1
-#             = f.hidden_field :address2
-#             = @contact.address2
-#             = f.hidden_field :address3
-#             = @contact.address3
-#         %tr
-#           %th お問い合わせ内容
-#           %td
-#             = f.hidden_field :content
-#             = simple_format(@contact.content)
-#       = f.submit '送信', :class => 'btn btn-primary'
.service_contents#confirm
  = form_for @contact, url:root_thanks_path do |f|
    .info__title
      %span お客さま情報
    .info__form
      .info__form__name
        .info__form__name__title
          %span お名前
          %span.must 必須
        .info__form__name__content
          = f.hidden_field :name_full, class: "form-box"
          = @contact.name_full
      .info__form__name
        .info__form__name__title
          %span フリガナ
          %span.must 必須
        .info__form__name__content
          = f.hidden_field :name_cana ,class: "form-box"
          = @contact.name_cana
      .info__form__number
        .info__form__number__title
          %span お電話番号
          %span.must 必須
        .info__form__number__content
          = f.hidden_field :phone, class: "form-box", placeholder: "例)090-1234-5678"
          = @contact.phone
      .info__form__mail
        .info__form__mail__title
          %span メールアドレス
          %span.self 任意
        .info__form__mail__content
          = f.hidden_field :email
          = @contact.email
      .info__form__address
        .info__form__address__title
          %span 現地ご住所
          %span.must 必須
        .info__form__address__content
          〒
          = f.hidden_field :zip1, class: "form-box postcode-box"
          = @contact.zip1
          ー
          = f.hidden_field :zip2, class: "form-box postcode-box"
          = @contact.zip2
          = f.hidden_field :address1,class: "form-box prefecture-box"
          = @contact.address1
          = f.hidden_field :address2, class: "form-box city-box"
          = @contact.address2
          %br
          = f.hidden_field :address3, class: "form-box address-box"
          = @contact.address3
      .info__form__detail
        .info__form__detail__title
          %span お問い合わせ内容
          %span.self 任意
        .info__form__detail__content
          = f.hidden_field :content,cols: "60", rows: "10", class: "form-box"
          %p
            = @contact.content
    .info__submit
      .info__submit__button
        = f.submit "送信する", class: "btn btn-primary"
      = form_for @contact, url:root_info_path do |f|
        = f.hidden_field :name_full
        = f.hidden_field :name_cana
        = f.hidden_field :phone
        = f.hidden_field :zip1
        = f.hidden_field :zip2
        = f.hidden_field :address1
        = f.hidden_field :address2
        = f.hidden_field :address3
        = f.hidden_field :conten
        .info__submit
          .info__submit__button
            = f.submit "戻る", class: "btn btn-primary"