:javascript
  window.onload = addToNewUrl();

.service_main
  .service_main__photo
    = image_tag "info_image.jpg", alt:"花の写真"
    .service_main__photo__title
      %span ご相談・お見積り
    - breadcrumb :info
    = render 'share/breadcrumb'

.service_contents
  .service_contents__title
    %span 入力内容の確認
  .info-discription
    %span 下記の内容でよろしければ『送信する』を、内容に間違いがある場合は『修正する』を押してください。

.service_contents#confirm
  = form_for @contact, url:root_thanks_path do |f|
    .info__title
      %span お客さま情報
    .info__form
      .info__form__name
        .info__form__name__title
          %span お名前
          %span.must 必須
        .info__form__name__content
          = f.hidden_field :name_full, class: "form-box"
          = @contact.name_full
      .info__form__name
        .info__form__name__title
          %span フリガナ
          %span.must 必須
        .info__form__name__content
          = f.hidden_field :name_cana ,class: "form-box"
          = @contact.name_cana
      .info__form__number
        .info__form__number__title
          %span お電話番号
          %span.must 必須
        .info__form__number__content
          = f.hidden_field :phone, class: "form-box", placeholder: "例)090-1234-5678"
          = @contact.phone
      .info__form__mail
        .info__form__mail__title
          %span メールアドレス
          %span.self 任意
        .info__form__mail__content
          = f.hidden_field :email
          = @contact.email
      .info__form__address
        .info__form__address__title
          %span 現地ご住所
          %span.must 必須
        .info__form__address__content
          .info__form__address__content__post
            〒
            = f.hidden_field :zip1, class: "form-box postcode-box"
            = @contact.zip1
            ー
            = f.hidden_field :zip2, class: "form-box postcode-box"
            = @contact.zip2
          .select-box
            = f.hidden_field :address1,class: "form-box prefecture-box"
            = @contact.address1
          = f.hidden_field :address2, class: "form-box city-box"
          = @contact.address2
          = f.hidden_field :address3, class: "form-box address-box"
          = @contact.address3
      .info__form__detail
        .info__form__detail__title
          %span お問い合わせ内容
          %span.self 任意
        .info__form__detail__content
          = f.hidden_field :content,cols: "60", rows: "10", class: "form-box"
          %p
            = @contact.content
    .info__submit
      .info__submit__button
        = f.submit "修正する", class: "btn btn-primary",name:'back'
        = f.submit "送信する", class: "btn btn-primary",name:'send'
