= render 'share/header'
.index
  .index__container
    .index__container__image
      = image_tag 'top_image.jpg', alt: 'PCを持った女性'
      .index__container__image__text-zone
        .index__container__image__text-zone__catch
    .index__container__step
      .index__container__step__title
        %span ご利用の流れ
      .index__container__step__content
        .index__container__step__content__up
          .index__container__step__content__up__first
            = image_tag 'call.jpg', alt: '電話をする女性'
            .title-zone
              %span.step STEP1-
              %span.title お問い合わせ
          .index__container__step__content__up__second
            = image_tag 'calc.jpg', alt: '計算をする女性'
            .title-zone
              %span.step STEP2-
              %span.title お見積もり
        .index__container__step__content__down
          .index__container__step__content__down__third
            = image_tag 'meeting.jpg', alt: '会話をする女性' 
            .title-zone
              %span.step STEP3-
              %span.title お打ち合わせ
          .index__container__step__content__down__fourth
            = image_tag 'clean.jpg', alt: '計算をする女性'
            .title-zone
              %span.step STEP4-
              %span.title 現場確認・着手
