:javascript
  window.onload = addToNewUrl();

.service_main
  .service_main__photo
    = image_tag "info_image.jpg", alt:"花の写真"
    .service_main__photo__title
      %span ご相談・お見積り
    - breadcrumb :info
    = render 'share/breadcrumb'

.service_contents
  .service_contents__title
    %span 無料相談・お見積り
  .info-discription
    %span お問い合わせいただいてから、原則２営業日内に当社スタッフよりお返事させていただきます。
  .info-error
    = render partial: 'error-messages', locals: {contact: @contact, column: "name_full"}
    = render partial: 'error-messages', locals: {contact: @contact, column: "name_cana"}
    = render partial: 'error-messages', locals: {contact: @contact, column: "email"}
    = render partial: 'error-messages', locals: {contact: @contact, column: "phone"}
    = render partial: 'error-messages', locals: {contact: @contact, column: "zip1"}
    = render partial: 'error-messages', locals: {contact: @contact, column: "zip2"}
    = render partial: 'error-messages', locals: {contact: @contact, column: "address1"}
    = render partial: 'error-messages', locals: {contact: @contact, column: "address2"}
    = render partial: 'error-messages', locals: {contact: @contact, column: "content"}
  %form.info
  = form_with model: @contact, url: root_confirm_path,local: true do |f|
    .info__title
      %span お客さま情報
    .info__form
      .info__form__name
        .info__form__name__title
          %span お名前
          %span.must 必須
        .info__form__name__content
          = f.text_field :name_full, class: "form-box", placeholder: "例)小嶋 祥介",id: "name_full"
      .info__form__name
        .info__form__name__title
          %span フリガナ
          %span.must 必須
        .info__form__name__content
          = f.text_field :name_cana ,class: "form-box", placeholder: "例)コジマ ヨシユキ",id:"name_cana"
      .info__form__number
        .info__form__number__title
          %span お電話番号
          %span.must 必須
        .info__form__number__content
          = f.telephone_field :phone, class: "form-box", placeholder: "例)090-1234-5678"
      .info__form__mail
        .info__form__mail__title
          %span メールアドレス
          %span.self 任意
        .info__form__mail__content
          = f.email_field :email, class: "form-box", placeholder: "例)tenju.eco@gmail.com"
      .info__form__address
        .info__form__address__title
          %span 現地ご住所
          %span.must 必須
        .info__form__address__content
          .info__form__address__content__post
            %span 〒
            = f.text_field :zip1, class: "form-box postcode-box"
            %span ー
            = f.text_field :zip2, onKeyUp: "AjaxZip3.zip2addr('contact[zip1]', 'contact[zip2]', 'contact[address1]', 'contact[address2]');", class: "form-box postcode-box"
          .select-box
            = f.select :address1, options_for_select(Contact.addresses), {},{class: "form-box prefecture-box"}
          = f.text_field :address2, placeholder: "市区町村", class: "form-box city-box"
          = f.text_field :address3, placeholder: "番地・建物名", class: "form-box address-box"
      .info__form__detail
        .info__form__detail__title
          %span お問い合わせ内容
          %span.self 任意
        .info__form__detail__content
          = f.text_area :content,cols: "60", rows: "10", placeholder: "例)生前整理をして頂きたいのですが、平日の午前中に見積もりに来ていただくことは出来ますか？今月中に作業をすませて欲しいので、そちらも可能かどうかお返事いただきたいです。", class: "form-box"
    .info__submit
      .info__submit__attention
        .info__submit__attention__text
          %span.title
            プライバシーポリシー
          %span.discription
            株式会社天授(以下『当社』という)は、個人情報に関する法令の遵守、個人情報の適切な取り扱い及び管理を徹底し、大切な個人情報の保護につとめてまいります。
          %span.sub-title
            個人情報の収集および利用
          %span.discription
            個人情報を収集する際には利用目的をお知らせします。
            %br
            個人情報は、その利用目的をお知らせしてご本人の同意が得られた上でご提供いただきます。ご提供いただいた個人情報は、お知らせした利用目的の範囲を超えて利用しません。
          %span.discription
            利用目的の範囲について
            %br
            ・業務上のご連絡をする場合
            %br
            ・当社が取り扱う商品及びサービスに関するご案内をする場合
            %br
            ・お客様からのお問い合わせまたはご依頼等への対応をさせていただく場合
            %br
            ・その他、お客様に事前にお知らせし、ご同意をいただいた目的の場合
          %span.sub-title
            個人情報の第三者への提供・開示・訂正・消去
          %span.discription
            当社は、お客様の同意なしに第三者へお客様の個人情報の提供は行いません。
            %br
            但し個人情報に適用される法律、その他の規範により、当社が従うべき法令上の義務等の特別な事情がある場合は、この限りではありません。
            %br
            個人情報の開示・訂正・提供範囲の変更や削除を本人から依頼された場合には、合理的な範囲ですみやかに対応します。
          %span.sub-title
            個人情報の安全管理措置
          %span.discription
            徹底した管理によって個人情報の正確性及び安全性を確保します。
            %br
            また、ご提供いただいた個人情報の紛失、破壊、改ざん及び漏洩等の防止に努めます。
            %br
            回収致しました物品に関しても、分別・適切な処理を行い、お客様の個人を特定する情報が残ることはございません。
            %br
            個人情報を扱う業務を他の会社に委託する場合、個人情報を収集するときの承諾に基づく利用、提供、安全管理を守るように、委託先に対する適切な契約や指導・管理をします。
          %span.sub-title
            継続的な改善について
          %span.discription
            当社が保有する個人情報に関して適用される法令、規則を遵守するとともに、適切な運用が実施されるよう管理と必要な是正を行い、個人情報保護の取り組みを継続的に見直し改善実施いたします。

      .info__submit__check
        %label{for: "agree"}
          上記規約内容に同意する
        %input{type: "checkbox", class: "agree"}
      .info__submit__button
        = f.submit "送信する", class: "submit-btn",data: { confirm: 'メッセージを送信してよろしいですか。' }