.service_main
  .service_main__photo
    = image_tag "info_image.jpg"
    .service_main__photo__title
      %span ご相談・お見積もり

.service_contents
  .service_contents__title
    %span 無料相談・お見積り
  .info-discription
    %span お問い合わせいただいてから、原則２営業日内に当社スタッフよりお返事させていただきます。
  -# = render partial: 'error-messages', locals: {contact: @contact, column: "name_full"}
  -# = render partial: 'error-messages', locals: {contact: @contact, column: "name_cana"}
  -# = render partial: 'error-messages', locals: {contact: @contact, column: "email"}
  -# = render partial: 'error-messages', locals: {contact: @contact, column: "phone"}
  -# = render partial: 'error-messages', locals: {contact: @contact, column: "zip1"}
  -# = render partial: 'error-messages', locals: {contact: @contact, column: "zip2"}
  -# = render partial: 'error-messages', locals: {contact: @contact, column: "address1"}
  -# = render partial: 'error-messages', locals: {contact: @contact, column: "address2"}
  -# = render partial: 'error-messages', locals: {contact: @contact, column: "content"}
  %form.info
    .info__title
      %span お客さま情報
    .info__form
      = form_with model: @contact,url: root_confirm_path,local: true do |f|
        .info__form__name
          .info__form__name__title
            %span お名前
            %span.must 必須
          .info__form__name__content
            = f.text_field :name_full, class: "form-box", placeholder: "例)小嶋 祥介"
        .info__form__name
          .info__form__name__title
            %span フリガナ
            %span.must 必須
          .info__form__name__content
            = f.text_field :name_full ,class: "form-box", placeholder: "例)コジマ ヨシユキ"
        .info__form__number
          .info__form__number__title
            %span お電話番号
            %span.must 必須
          .info__form__number__content
            = f.telephone_field :phone, class: "form-box", placeholder: "例)090-1234-5678"
        .info__form__mail
          .info__form__mail__title
            %span メールアドレス
            %span.self 任意
          .info__form__mail__content
            = f.email_field :email, class: "form-box", placeholder: "例)tenju.eco@gmail.com"
        .info__form__address
          .info__form__address__title
            %span 現地ご住所
            %span.must 必須
          .info__form__address__content
            〒
            = f.text_field :zip1, onKeyUp: "AjaxZip3.zip2addr('zip1', 'zip2', 'address1', 'address2');", class: "form-box postcode-box"
            ー
            = f.text_field :zip2, onKeyUp: "AjaxZip3.zip2addr('zip1', 'zip2', 'address1', 'address2');", class: "form-box postcode-box"
            .select-box
              = f.select :address1, options_for_select(Contact.addresses), {class: "form-box prefecture-box"}
            = f.text_field :address2, placeholder: "市区町村", class: "form-box city-box"
            %br
            = f.text_field :address3, placeholder: "番地・建物名", class: "form-box address-box"
        .info__form__detail
          .info__form__detail__title
            %span お問い合わせ内容
            %span.self 任意
          .info__form__detail__content
            = f.text_area :content,cols: "60", rows: "10", placeholder: "例)生前整理をして頂きたいのですが、平日の午前中に見積もりに来ていただくことは出来ますか？今月中に作業をすませて欲しいので、そちらも可能かどうかお返事いただきたいです。", class: "form-box"
        .info__submit
          .info__submit__attention
          .info__submit__check
            %label{for: "agree"}
              上記規約内容に同意する
            %input{type: "checkbox", class: "agree"}
          .info__submit__button
            = f.submit "送信する", class: "submit-btn",data: { confirm: 'メッセージを送信してよろしいですか。' }