- set_meta_tags title: '作業事例', keywords: "遺品整理 事例, 生前整理 事例"

.service_main
  .service_main__photo
    = image_tag "bouquet.jpg", alt:"花の写真"
    .service_main__photo__title
      %span 作業事例
    - breadcrumb :performance
    = render 'share/breadcrumb'

.service_contents
  .service_contents__title
    %span 遺品整理の事例
= render 'share/case/case-recovery'
.service_contents
  .service_contents__title
    %span 生前整理の事例
= render 'share/case/case-before-birth'
.service_contents
  .service_contents__title
    %span 家財整理の事例
= render 'share/case/case-household-goods'
.service_contents
  .service_contents__title
    %span 特殊清掃の事例
= render 'share/case/case-special-cleaning'
-# .service_contents
-#   .service_contents__title
-#     %span 生活サポートの事例
-# = render 'share/case/case-lifesupport'
