.service_main
  .service_main__photo
    = image_tag "cleaning-image2.jpg", alt:"仕事の様子"
    .service_main__photo__title
      %span 実績紹介
= render 'share/case/case-before-birth'
= render 'share/case/case-household-goods'
= render 'share/case/case-lifesupport'
= render 'share/case/case-recovery'
