.service_main
  .service_main__photo
    = image_tag "cleaning-image2.jpg", alt:"仕事の様子"
    .service_main__photo__title
      %span 実績紹介
= render 'share/performance-part'
.performance
  .performance__box
    %span.box-title
      家財整理
    .box-ti
      %h3.tit　一軒家の生前整理のお手伝いを行いました。
      %p.sub 一軒家　３DK　作業人数：４人　作業時間：４時間
    .box-bottom
      .box-img
        .before
          = image_tag 'before_01', alt: 'before'
          %p.txt Before
        .triangle
        .after
          = image_tag 'after_01', alt: 'after'
          %p.txt After
      .box-price
        %p.viewPC 兵庫県の集合住宅で生前遺品整理をさせていただきました。細々したお品物もしっかりと不要品、買取できるお品物で分別させていただきました。弊社では戸建て、マンション、集合住宅等様々なご自宅に対応しています。
        %table.table
          %tbody
            %tr
              %th 作業料金
              %td 210,000円
            %tr
              %th 買取金額
              %td 30,000円
            %tr
              %th.btm 買取後の作業料金
              %td.btm
                180,000
                %span 円
.performance
  .performance__box
    %span.box-title
      生活支援
    .box-ti
      %h3.tit　一軒家の生前整理のお手伝いを行いました。
      %p.sub 一軒家　３DK　作業人数：４人　作業時間：４時間
    .box-bottom
      .box-img
        .before
          = image_tag 'before_01', alt: 'before'
          %p.txt Before
        .triangle
        .after
          = image_tag 'after_01', alt: 'after'
          %p.txt After
      .box-price
        %p.viewPC 兵庫県の集合住宅で生前遺品整理をさせていただきました。細々したお品物もしっかりと不要品、買取できるお品物で分別させていただきました。弊社では戸建て、マンション、集合住宅等様々なご自宅に対応しています。
        %table.table
          %tbody
            %tr
              %th 作業料金
              %td 210,000円
            %tr
              %th 買取金額
              %td 30,000円
            %tr
              %th.btm 買取後の作業料金
              %td.btm
                180,000
                %span 円

