.service_main
  .service_main__photo
    = image_tag "plan-image.jpg", alt:"花の写真"
    .service_main__photo__title
      %span 料金一覧
    - breadcrumb :plan
    = render 'share/breadcrumb'
.service_contents
  .service_contents__title
    %span 遺品整理・生前整理
  .service_contents__fee
    .plan__contents__body__reference.inner
      %h3 遺品整理・生前整理の参考価格
      = render 'share/fee/recovery-fee'
.service_contents
  .service_contents__title
    %span 家財整理
  .service_contents__fee
    .plan__contents__body__reference.inner
      %h3 家財整理の参考価格
      = render 'share/fee/household-goods-fee'
.service_contents
  .service_contents__title
    %span お得なパック料金
  .service_contents__fee
    .plan__contents__body__reference.inner
      %h3 パック料金の参考価格
      = render 'share/fee/pack-fee'
.service_contents
  .service_contents__title
    %span 生活支援
  .service_contents__fee
    .plan__contents__body__reference.inner
      %h3 生活支援の参考価格
      = render 'share/fee/lifesupport-fee'
.service_contents
  .service_contents__title
    %span お墓清掃
  .service_contents__fee
    .plan__contents__body__reference.inner
      %h3 お墓清掃の参考価格
      = render 'share/fee/grave-fee'
  .index
    .index__container
      .index__container__pick-up
        .index__container__pick-up__content
          = image_tag 'grave-zenith.png', alt: 'お墓の写真'
          .index__container__pick-up__content__right
            .index__container__pick-up__content__right__box
              %p.title
                墓じまい・お墓のお引越し
              = link_to "https://zenith-web.jp/" do
                %span
                  内容の詳細はこちら
                  = fa_icon 'angle-double-right'
.service_contents
  .service_contents__title
    %span 空き家管理
  .service_contents__fee
    .plan__contents__body__reference.inner
      %h3 空き家管理の参考価格
      = render 'share/fee/house-manager-fee'