.service_main
  .service_main__photo
    = image_tag "sakura.jpg"
    .service_main__photo__title
      %span 遺品整理

    - breadcrumb :recovery
    = render 'share/breadcrumb'

.service_contents
  .service_contents__title
    %span 遺品整理について
  .service_contents__container
    .service_contents__container__photo
      =image_tag "pray.jpg"
    .service_contents__container__textbox
      .service_contents__container__textbox__title
        %span ご遺族の気持ちに寄り添う
      .service_contents__container__textbox__description
        %span
          大切なご親族がお亡くなりになり、ご葬儀や各種手続きなど肉体的にも精神的にもご負担の多いご遺族様に代わり、故人が使用されていた品物全てのご遺品を丁寧に整理し、形見分けをしてご遺族にお届けさせていただきます。
          %br
          残されたご遺品を廃棄するのがしのびないという場合は寺院での
          お焚き上げをしていただく事もできます。
          %br
          お焚き上げにより故人はもちろん、ご遺族様のお気持ちも一緒に浄化され
          天に帰りますように。
          %br
          遺品整理は人生の中でそうあるものではありません。同じ現場はひとつとしてありません。
          %br
          ご遺族様の気持ちに寄り添い知識や実務、法令規則のノウハウを身につけたスタッフが心を込めてお手伝いさせていただきます。
  .service_contents__title
    %span ご利用料金
  .service_contents__fee
    .plan__contents__body__reference.inner
      %h3 遺品整理の参考価格
      = render 'share/fee/recovery-fee'
  .service_contents__title
    %span お得なパック料金
  .service_contents__fee
    .plan__contents__body__reference.inner
      = render 'share/fee/pack-fee'
  .service_contents__title
    %span 参考事例
= render 'share/case/case-recovery'