!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title 滋賀の遺品整理・生前整理なら『天授』
    = csrf_meta_tags
    = csp_meta_tag
    %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700")/
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag
  %body
    = render 'share/header'
    = yield
    
    = render 'share/footer'
